$light : #f7f7f7;
$oscuro : #464242;
$dark : #222121;
$lime : #00cc66;
$orangeRed : #fb4b4e;
$cream : #FFFDD0;
$darkGrey : #333333;
$white : #FFFFFF;
$yellow : #FFCC00;
$pink : #FF6699;
$blue : #0066CC;